version: '3.9' 

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: inventory_api
    ports:
      - "5000:8080" 
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Database__ConnectionStrings=Host=postgres_db;Port=5432;Database=inventory;Username=postgres;Password=postgres
        
  postgres_db:
    image: postgres:15 
    container_name: postgres_db
    environment:
      POSTGRES_DB: inventory    
      POSTGRES_USER: postgres    
      POSTGRES_PASSWORD: postgres  
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data 

volumes:
  postgres_data:
    driver: local
